<h1>Shopping List</h1>
<ul class="list-group">
    <!-- ko foreach:items -->
        <!-- ko component:{name:'item', params:$data} --><!-- /ko -->
    <!-- /ko -->

    <li class="list-group-item">
        <form data-bind="submit:function(){add()}">
            <div class="row">
                <div class="col-md-7"><input type="text" class="form-control" placeholder="" data-bind="textInput:newItemLabel"></div>
                <div class="col-md-3"><select class="form-control" data-bind="options:categories, optionsText:'name', optionsValue:'id', value:newItemCategory"></select></div>
                <div class="col-md-2"><button class="btn btn-block btn-primary" type="submit" data-bind="enabled:newItemLabel, css:{disabled:!newItemLabel()}">Add</button></div>
            </div>
        </form>
    </li>
</ul>