.gui-loading{position:relative}

.gui-loader{
	display:block;position:absolute;top:0;left:0;bottom:0;right:0;z-index:900;
	.gui-loader-overlay{position:absolute;top:0;left:0;bottom:0;right:0;z-index:9999;background:#fff;}
	
	body.gui-loading &{position:fixed;}
}

.loading-wrap{display: table;height: 100%;width: 100%;position:relative;z-index:9999}
.loading{
	display:table-cell;text-align:center;vertical-align:middle;
	.loading-dot{display:inline-block;width:12px;height:12px;border-radius:6px;background:#e5e5e5;margin:0 6px;animation: loading-jump 1s ease-in-out infinite;}
	.loading-dot+.loading-dot{animation-delay:0.10s}
	.loading-dot+.loading-dot+.loading-dot{animation-delay:0.17s}
}

@keyframes loading-jump {
		0% {
				background:#e5e5e5;
		}
		5% {
				transform:translate(0,0);
		}
		35% {
				background:@brand-info;
				transform:translate(0,-20px) scale(1.2,1.2);
		}
		70% {
				transform:translate(0,0);
		}
		75% {
				background:#e5e5e5;
		}
}